/EJERCICIOS/MOSTRAR/nbproject/private/
/EJERCICIOS/PRACTICAS_PANTALLA/nbproject/private/
/EJERCICIOS/PRACTICAS_PANTALLA/build/
/EJERCICIOS/GAMES/nbproject/private/
/EJERCICIOS/GAMES/build/
/EJERCICIOS/ParcailPrimerCorte/nbproject/private/
/EJERCICIOS/ParcailPrimerCorte/build/
/EJERCICIOS/ejerciciosPANTALLA/nbproject/private/
/EJERCICIOS/ejerciciosPANTALLA/build/
/Challenge_vector_1/nbproject/private/
/Challenge_vector_1/build/